global:
  scrape_interval: 15s
  external_labels:s
    origin_prometheus: <id>_prometheus_instance

scrape_configs:
- job_name: "consuming_current_monitor"
  scrape_interval: 8ms
  static_configs:
  - targets:
    - localhost:6969